.wrapper {
    min-width: 240px;
    border: 1px solid var(--primary);
}

.option {
    display: block;
    width: 100%;
    height: 45px;
    text-align: start;
    background: var(--white);
    border: none;

    font-size: 20px;

    & > a {
        text-decoration: none;
        color: var(--black);
    }

    &:hover {
        background: var(--gray-light);
    }
}
