body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 7px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: var(--gray-dark);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        border-left: 1px solid var(--black);
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --primary: #faf006;
    --primary-hover: #e7e004;
    --black: #2e2b2b;
    --gray: #837c7c;
    --gray-light: #d9d9d9;
    --gray-dark: #5d5757;
    --white: #fff;
    --confirm: rgb(71, 71, 255);
}
