.wrapper {
    display: flex;
    width: 550px;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.deskInfo {
    padding: 25px;
    background-color: var(--gray-light);
}

.inputContainer {
    height: 60px;
    padding-top: 15px;
    position: relative;
    z-index: 2;

    input {
        width: 400px;
        height: 40px;
        font-size: 20px;
    }
}

.selectContainer {
    height: 90px;
    padding-top: 30px;
    position: relative;
    z-index: 2;

    select {
        width: 250px;
        height: 40px;
        font-size: 18px;
    }
}

.createButton {
    justify-items: start;
    align-self: flex-start;

    button {
        height: 45px;
        width: 200px;
        font-size: 20px;
        border: none;
        cursor: pointer;
    }
}

.colorButton {
    width: 50px;
    height: 50px;
    border: none;
    justify-items: start;
    align-self: flex-start;
    cursor: pointer;
}

.default {
    background-color: var(--white);
}

.red {
    background-color: rgb(246, 98, 98);
    color: var(--white);
}

.yellow {
    background-color: rgb(255, 190, 69);
    color: var(--black);
}

.blue {
    background-color: rgb(82, 82, 255);
    color: var(--white);
}

.pink {
    background-color: rgb(253, 170, 184);
    color: var(--black);
}

.purple {
    background-color: rgb(255, 117, 255);
    color: var(--black);
}

.error {
    color: red;
    display: block;
    position: relative;
    z-index: 1;
    animation-name: error-appearance;
    animation-duration: 0.5s;
}

@keyframes error-appearance {
    0% {
        top: -15px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
