.wrapper {
    min-width: 240px;
}

.primary {
    border: 1px solid var(--primary);
}

.black {
    border: 1px solid var(--black);
}

.option {
    display: block;
    height: 45px;
    width: 100%;
    text-align: start;
    background: var(--white);
    border: none;
    padding: 15px 10px;

    font-size: 20px;

    &:hover {
        background: var(--gray-light);
    }
}
