.wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    display: block;
    width: 20px;
    height: 20px;
    border-right: 3px solid var(--black);
    border-bottom: 3px solid var(--black);
    transform: rotate(45deg) translate(-20%, -20%);
    transition: all ease-in-out 0.5s;
    cursor: pointer;

    &:hover {
        border-color: var(--gray);
    }
}

.arrowOpened {
    transform: rotate(-135deg) translate(-67%, -67%);
}

.menuOptions {
    position: absolute;
    top: 82px;
    right: 0;
}
