.deskContainer {
}

.deskName {
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    color: var(--black);
    margin: 0;
}

.access {
    margin-top: 5px;
    color: var(--gray);
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
}

.deskFrame {
    width: calc(100vw - 7px);
    overflow-x: scroll;
}

.tasksFrame {
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
    padding: 40px;
    justify-self: flex-start;
    justify-content: start;
}
