.deskContainer {
}

.deskHeader {
    padding: 0 70px 0 60px;
    display: grid;
    grid-template-columns: auto 200px 100px;
    gap: 40px;
    align-items: center;
    position: relative;
    z-index: 1;

    h1 {
        font-weight: 700;
        font-size: 54px;
        line-height: 74px;
        color: var(--black);
        margin: 0;
    }

    select,
    button {
        height: 45px;
        font-size: 22px;
    }

    .menuButton {
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
            transition: 0.4s ease-in-out;
            color: var(--gray-light);
        }
    }
}

.deskMenu {
    position: absolute;
    z-index: 2;
    top: 70px;
    right: 70px;
}

.deskFrame {
    width: calc(100vw - 7px);
    overflow-x: scroll;
}

.tasksFrame {
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
    padding: 20px 40px;
    justify-self: flex-start;
    justify-content: start;
}
