.wrapper {
    width: 100vw;
    padding-bottom: 50px;
}

.title {
    text-align: center;
    font-size: 40px;
}

.desks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.deskItem {
    margin: 0 auto;
    width: 1000px;
    height: 150px;
    border: 2px solid var(--black);
    cursor: pointer;
    color: black;
}
