.wrapper {
    width: 100vw;
    padding-bottom: 50px;
}

.title {
    text-align: center;
    font-size: 40px;
}

.desks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.deskItem {
    margin: 0 auto;
    width: 1000px;
    height: 150px;
    border: 2px solid var(--black);
    cursor: pointer;
    color: black;

    padding: 20px 40px;

    display: grid;

    grid-template-columns: 150px auto;
    grid-template-rows: 1fr 1fr;

    .deskNameTitle {
        font-size: 24px;
        font-weight: bold;
    }

    .deskName {
        font-size: 24px;
    }
    .participantsTitle {
        font-size: 24px;
        font-weight: bold;
    }
    .participants {
        display: flex;
        gap: 10px;

        .participantAvatar {
            border: 1px solid var(--black);
            border-radius: 50%;

            width: 35px;
            height: 35px;

            overflow: hidden;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
