.append {
    border-radius: 50%;
    background: var(--white);
    display: inline-block;
    padding: 0;
    position: relative;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
        border-color: var(--gray);
    }

    &:hover .hr,
    &:hover .vr {
        background-color: var(--primary-hover);
    }
}

.vr,
.hr {
    position: absolute;
    background: var(--primary);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.smallBtn {
    width: 50px;
    height: 50px;
    border: 1px solid var(--black);
    .hr {
        width: 30px;
        height: 3px;
    }

    .vr {
        height: 30px;
        width: 3px;
    }
}

.bigBtn {
    width: 200px;
    height: 200px;
    border: 3px solid var(--black);
    .hr {
        width: 160px;
        height: 5px;
    }

    .vr {
        height: 160px;
        width: 5px;
    }
}
